* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.card h3{
  background-color: lightgrey;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  text-align: left;
  background-color: #f1f1f1;
  width: 300px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top:100px ;
  overflow-y: auto;
  
}
.accounts {
  width: 200px; 

}
img{
  border-radius: 50%;
  width:40px;
  height: 40px;
}
.accounts a {
  background-color: #eee; 
  color: black; 
  display: block; 
  padding: 12px; 
  width: 200px;
  text-decoration: none; 
  
 
}

.accounts a:hover {
  background-color: #ccc; 
}

.accounts a.active {
  background-color: lightgray; 
  color: white;
}

.section {
  width: 95vw;
  height: 40vh;
  background-color:lightgray;
  font-size: 50px;
  color: black;
  text-align: center;
  margin: 10px 5px;
  overflow-y: auto;
  margin-left: 10px;
}
.section p{
  font-size: large;
}

.nav {
  width: 95vw;
  height: 40vh;
  background-color: lightgray;
  font-size: x-large;
  color: white;
  text-align: center;
  margin: 10px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  place-items: center;
  margin-left: 10px;
}

.scroll-top {
  position: absolute; 
  top: 120vh; 
  bottom: 3rem; 
  right: 2rem; 
}

.scroll-top__link {
  position:sticky;
  position: sticky; 
  top: 90vh; 
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgray;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: darkgray;}


.show {display:block;}